.right-align {
    text-align: right;
  }

.form-group {
    display: flex;
    align-items: center;
}

.form-group label {
    flex-grow: 1;
    margin-bottom: 0;
}

.form-control {
    width: 74%;
    padding: 0.375rem 1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.2rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 0.25rem;
    margin-left: auto; /* ปรับให้ input อยู่ขวาสุด */
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

  
