<!-- <div class="container">
    <label for="surchargeAmount">Surcharge:</label>
    <input type="text" id="surchargeAmount" name="surchargeAmount" [ngModel]="surchargeAmount + ' THB'" readonly
        class="align-right" [ngClass]="{'right-align': true}" placeholder='0.00 THB'>
</div> -->

<!-- <div class="container">
    <label for="surchargeAmount">Surcharge:</label>
    <input type="text" id="surchargeAmount" name="surchargeAmount" [value]="surchargeAmountFormatted" readonly
        class="align-right" [ngClass]="{'right-align': true}" placeholder='0.00 THB'>
</div> -->


<div class="container">
    <div class="form-group">
        <label for="surchargeAmount">3. Surcharge</label>
        <div class="input-wrapper">
            <input type="text" id="surchargeAmount" name="surchargeAmount" [value]="surchargeAmountFormatted" readonly
                class="form-control right-align readonly-input" [ngClass]="{'right-align': true}" placeholder='0.00 THB'>
        </div>
    </div>
</div>





