<!-- <div class="container">
    <div class="grid-container">
        <app-filing-type (filingTypeChanged)="filingType = $event"></app-filing-type>
        <div class="selectMonthYear">
            <app-month (monthSelected)="updateSelectedMonth($event)"></app-month>
            <app-year></app-year>
        </div>
        <div *ngIf="filingType === 'ordinary'">
            <app-sale-amount (totalVatChanged)="updateTotalVat($event)"></app-sale-amount>
            <app-tax-amount [totalVat]="totalVat"></app-tax-amount>
        </div>
        <div *ngIf="filingType === 'additional'">
            <app-sale-amount (totalVatChanged)="updateTotalVat($event)"></app-sale-amount>
            <app-tax-amount [totalVat]="totalVat"></app-tax-amount>
            <app-surcharge [totalVat]="totalVat" (surcharge)="updateSurcharge($event)"></app-surcharge>
            <app-penalty [penalty]="penalty"></app-penalty>
            <app-total-amount [totalVat]="totalVat || 0" [surcharge]="surcharge" [penalty]="penalty"></app-total-amount>
        </div>
        <button routerLink="/confirm-review">Next</button>
    </div>
</div> -->
<router-outlet></router-outlet>


