<!-- <div class="container">
    <h2>1. Tax filing Deatail</h2>
    <hr>
    <h3>Type of filing</h3>
    <div class="radio-options">
        <label>
            <input type="radio" name="filingType" [(ngModel)]="filingType" value="ordinary"
                (change)="changeFilingType('ordinary')">
            Ordinary Filing
        </label>
        <label>
            <input type="radio" name="filingType" [(ngModel)]="filingType" value="additional"
                (change)="changeFilingType('additional')">
            Additional Filing
        </label>
    </div>
</div> -->


<!-- <div class="container">
    <h2>1. Tax filing Deatail</h2>
    <hr>
    <h3>Type of filing</h3>
    <div class="radio-options">
        <label class="radio-label">
            <input type="radio" name="filingType" [(ngModel)]="filingType" value="Ordinary Filing"
                (change)="changeFilingType('Ordinary Filing')" class="radio-input">
            Ordinary Filing
        </label>
        <label class="radio-label">
            <input type="radio" name="filingType" [(ngModel)]="filingType" value="Additional Filing"
                (change)="changeFilingType('Additional Filing')" class="radio-input">
            Additional Filing
        </label>
    </div>
</div> -->


<div class="container">
    <h2>1. Tax filing Deatail</h2>
    <hr>
    <h3>Type of filing</h3>
    <div class="radio-options">
        <label class="radio-label">
            <input type="radio" name="filingType" [(ngModel)]="filingType" value="Ordinary Filing"
                (change)="changeFilingType('Ordinary Filing')" class="radio-input">
            Ordinary Filing
        </label>
        <label class="radio-label">
            <input type="radio" name="filingType" [(ngModel)]="filingType" value="Additional Filing"
                (change)="changeFilingType('Additional Filing')" class="radio-input">
            Additional Filing
        </label>
    </div>
</div>



