<div class="step-progress-container">
    <h2 class="page-title">Submit Tax Filing</h2>
    <div class="step-progress">
        <div class="step" [ngClass]="{'active': currentStep === 0}">1. Input Detail</div>
        <div class="step-line"></div>
        <div class="step" [ngClass]="{'active': currentStep === 1}">2. Review & Confirm</div>
    </div>

    <div class="container">
        <div class="grid-container">
            <app-filing-type (filingTypeChanged)="filingType = $event"></app-filing-type>
            <div class="row">
                <div class="selectMonthYear">
                    <app-month (monthSelected)="updateSelectedMonth($event)"></app-month>
                    <app-year (yearSelected)="updateSelectedYear($event)"></app-year>
                </div>
            </div>
            <div *ngIf="filingType === 'Ordinary Filing' || filingType === 'Additional Filing'" class="mt-3">
                <app-sale-amount (totalVatChanged)="updateTotalVat($event)"
                    (saleAmountChanged)="updateSaleAmount($event)"></app-sale-amount>
                <app-tax-amount [totalVat]="totalVat" (taxAmountChanged)="updateTotalVat($event)"></app-tax-amount>
                <app-surcharge [totalVat]="totalVat" *ngIf="filingType === 'Additional Filing'"
                    (surcharge)="updateSurcharge($event)"></app-surcharge>
                <app-penalty [penalty]="penalty" *ngIf="filingType === 'Additional Filing'"
                    (penaltyChanged)="updatePenalty($event)"></app-penalty>
                <app-total-amount [totalVat]="totalVat || 0" [surcharge]="surcharge" [penalty]="penalty"
                    *ngIf="filingType === 'Additional Filing'" (totalAmountChanged)="updateTotalAmount($event)"></app-total-amount>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-left">
                <button class="btn btn-primary" (click)="goToConfirmReview()">Next</button> 
            </div>
        </div>
    </div>
</div>

